<div class="container p-3">



    <div class="container px-4 ">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3"><h2> Liste des utilisateurs</h2></div>
          </div>
          <div class="col text-end">
            <div class="p-3"><button class="btn btn-success"  (click)="ajouterUtilisateur()"><i class="bi bi-plus-circle-fill p-1"></i>Ajouter</button></div>
          </div>
        </div>
      </div>

    
      @if(utilisateurs){
        <table class="table  table-striped">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">NumTelephone</th>
                <th scope="col">Departement</th>
                <th scope="col">Supprimer</th>
                <th scope="col">Modifier</th>
                
              </tr>
            </thead>
            <tbody>
                @for(utilisateur of utilisateurs._embedded.utilisateurs ; track utilisateur.nom) {
                    <tr>
                       <td>{{ utilisateur.nom}}</td>
                       <td>{{ utilisateur.email }}</td>
                       <td>{{ utilisateur.numTelephone }}</td>
                       <td>{{ utilisateur.departement }}</td>
                       <td (click)="deleteUtilisateurs(utilisateur.id)"><span  class="btn btn-danger"><i class="bi bi-trash-fill "></i></span></td>
                       <td><span class="btn btn-warning"><i class="bi bi-pencil"></i></span></td>
                     </tr>
               }
               </tbody>
             </table>
     }
    
    

